<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro en VerifyArca</title>
  <style>
    /* Estilos CSS para el correo electr贸nico */
    body {
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      color: #333;
    }
    p {
      color: #666;
    }
    .cta-button {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Registro en VerifyArca</h1>
    <p>El siguiente c贸digo es para que completes tu registro y puedas verificar tu cuenta. Por favor, ignora cualquier c贸digo anterior, ya que ha sido invalidado.</p>
    <p><strong>C贸digo de registro:</strong> {{ code }}</p>
  </div>
</body>
</html>
